plugins = []
headers = []

[functions]

[functions."*"]

[build]
publish = "/home/ubuntu/elio-website/dist"
publishOrigin = "ui"
commandOrigin = "ui"
command = "pnpm run build"

[build.environment]

[build.processing]

[build.processing.css]

[build.processing.html]

[build.processing.images]

[build.processing.js]

[build.services]

[[redirects]]
from = "/*"
to = "/index.html"
status = 200.0
force = false

[redirects.query]

[redirects.conditions]

[redirects.headers]